.main-page{
  width: 100%;
  height: fit-content;
  margin-top: 60px;
  display: flex;
  justify-content: center;

  .container{
    width: 850px;
    height: fit-content;
    padding: 1.5rem .5rem;
    margin-top: 1.5rem;

    .header{
      font-weight: 700;
      font-size: 1.875rem;
      line-height: 1.2;
      color: #b85b05;
      padding: 1rem 0;
      border-bottom: 1px solid #e5e5e5;
    }

    .no-classes-notification{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10rem;

      img{
        height: 8rem;
        margin-bottom: 15px;
      }

      p{
        font-size: 1.171875rem;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 1px;
        color: #b85b05;
        margin-bottom: 15px;
      }
    }

    .action{
      display: flex;
      justify-content: space-between;
      margin-top: 15px;

      .filter{
        display: flex;

        .search-box{
          height: calc(1.5em + 0.75rem + 2px);
          padding: .375rem .75rem;
          margin-right: 5px;
          font-size: .9375rem;
          line-height: 1.5;
          border: 1px solid #8f959e;
          border-radius: .6rem;
          color: #495057;

          &:focus {
            color: #495057;
            border-color: #5babf2;
            outline: 0;
            box-shadow: 0 0 0 .2rem rgb(15 108 191 / .75);
          }
        }

        .sort-box{
          width: 110px;
          height: calc(1.5em + 0.75rem + 2px);
          padding-left: .25rem;
          border: 1px solid #8f959e;
          border-radius: .6rem;
          color: #495057;
          font-size: .9375rem;
          line-height: 1.5;
          position: relative;

          &:hover{
            cursor: pointer;
            border-color: #5babf2;
            outline: 0;
            box-shadow: 0 0 0 .2rem rgb(15 108 191 / .75);
          }
        }
      }
    }

    .list{
      width: 100%;
      height: fit-content;
      margin-top: 15px;

      .list-item{
        width: 100%;
        height: fit-content;
        padding: .75rem .5rem;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dfdfdf;

        &:hover{
          cursor: pointer;
        }

        &:hover .class-name{
          text-decoration: underline;
        }

        .information{
          width: 100%;
          margin-right: 15px;

          .class-name{
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #0f6cbf;
            margin-bottom: 5px;
          }

          .subject-name{
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #1d2125;
          }
        }
      }
    }
  }

  .add-class-form{
    width: 400px;
    height: fit-content;
    padding: 20px;
    background-color: #ffffff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / .15);
    display: flex;
    flex-direction: column;

    .form-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      .title-add-class{
        font-size: 1.875rem;
        font-weight: 400;
        color: #b85b05;
      }

      i{
        font-size: 1.5rem;
        color: #b85b05;

        &:hover{
          cursor: pointer;
        }
      }
    }

    .input-class{
      margin-top: 16px;
      width: 100%;
      height: calc(1.5em + 1rem + 2px);
      padding: .5rem 1rem;
      font-size: 1.171875rem;
      line-height: 1.5;
      border: 1px solid #8f959e;
      border-radius: .6rem;
      color: #495057;

      &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #5babf2;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgb(15 108 191 / .75);
      }
    }

    .select-teacher{
      position: relative;

      .list-teacher{
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        max-height: 100px;
        overflow-y: scroll;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        div{
          padding: .5rem 1rem;

          &:hover{
              background-color: #0c589c;
              color: #fff;
              cursor: pointer;
          }
        }
      }
    }

    .btn-add-class{
      padding: .5rem 1rem;
      margin-top: 14px;
      font-size: 1.171875rem;
      line-height: 1.5;
      border: none;
      border-radius: .6rem;
      color: #fff;
      background-color: #0f6cbf;

      &:hover{
        cursor: pointer;
        background-color: #0c589c;
      }
    }
  }
}

.btn-add-class{
  padding: .375rem .75rem;
  font-size: .9375rem;
  line-height: 1.5;
  border: 1px solid #8f959e;
  border-radius: .6rem;
  color: #495057;
  background-color: transparent;

  &:hover{
    cursor: pointer;
    color: #0f6cbf;
    border-color: #5babf2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgb(15 108 191 / .75);
  }
}

