.action{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 60px;
    background-color: #fff;

    .search-box{
        height: calc(1.5em + 0.75rem + 2px);
        padding: .375rem .75rem;
        margin-right: 5px;
        font-size: .9375rem;
        line-height: 1.5;
        border: 1px solid #8f959e;
        border-radius: .6rem;
        color: #495057;

        &:focus {
          color: #495057;
          border-color: #5babf2;
          outline: 0;
          box-shadow: 0 0 0 .2rem rgb(15 108 191 / .75);
        }
    }

    .select-question-bank{
        width: fit-content;
        height: calc(1.5em + 0.75rem + 2px);
        padding-left: .25rem;
        border: 1px solid #8f959e;
        border-radius: .6rem;
        color: #495057;
        font-size: .9375rem;
        line-height: 1.5;
        position: relative;

        &:hover{
          cursor: pointer;
          border-color: #5babf2;
          outline: 0;
          box-shadow: 0 0 0 .2rem rgb(15 108 191 / .75);
        }
    }

    button{
        padding: .375rem .75rem;
        margin-left: 5px;
        font-size: .9375rem;
        line-height: 1.5;
        border: 1px solid #8f959e;
        border-radius: .6rem;
        color: #495057;
        background-color: transparent;

        &:hover{
          cursor: pointer;
          color: #0f6cbf;
          border-color: #5babf2;
          outline: 0;
          box-shadow: 0 0 0 .2rem rgb(15 108 191 / .75);
        }
    }

    .btn-file:hover{
        cursor: pointer;
        color: #15bf0f;
        border-color: #15bf0f;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(21, 191, 15, 0.75);
    }
}

.question-list{

    .total{
        margin-top: 20px;
        font-weight: 700;
        font-size: larger;
    }
}

.question-form{
    width: 1100px;
    height: fit-content;
    padding: 20px;
    background-color: #ffffff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / .15);
    display: flex;
    flex-direction: column;

    .question-form-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .question-type{
            width: fit-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
    
            input{
                width: 150px;
                margin-right: 15px;
                padding: 5px;
                border: .5px solid #8d8d8d;
                font-size: 16px;
            }

            .list-type{
                width: 150px;
                height: fit-content;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                background-color: #fff;
                position: absolute;
                top: 100%;
                left: 0;

                div{
                    padding: 5px;

                    &:hover{
                        background-color: #0c589c;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }

        .form-action{
            display: flex;  
            align-items: center;

            .btn-close{
                font-size: 1.5rem;
                color: #b85b05;
                padding: 0 5px;
                margin-left: 10px;
                background-color: #fff;
                border: .5px solid #8d8d8d;
    
                &:hover{
                    cursor: pointer;
                    background-color: #e6e6e6;
                  }
            }

            .btn-save{
                padding: 6px;
                font-size: 16px;
                border: none;
                color: #fff;
                background-color: #0f6cbf;
        
                &:hover{
                    cursor: pointer;
                    background-color: #0c589c;
                }
            }
        }
    }

    .question-content{
        height: 200px;
        font-size: 20px;
        padding: 10px;
        text-align: center;    
        border: .5px solid #8d8d8d;
    }

    .answers{
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
        column-gap: 15px;

        .answer{
            height: 100px;
            display: flex;
            border: .5px solid #8d8d8d;

            .check-correct{
                width: 20px;
                margin-left: 10px;
            }

            .answer-content{
                width: 100%;
                font-size: 20px;
                padding: 10px;
                text-align: center;
                border: none;

                &:focus{
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .explanation{
        height: 100px;
        font-size: 20px;
        padding: 10px;
        margin-top: 15px;
        text-align: center;    
        border: .5px solid #8d8d8d;
    }
}