.main-page{
    width: 100%;
    height: fit-content;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header{
        min-width: 850px;
        height: fit-content;
        padding: 1.5rem .5rem 0 .5rem;
        margin-top: 1.5rem;
    
        .title{
            font-weight: 700;
            font-size: 1.875rem;
            line-height: 1.2;
            color: #b85b05;
            padding: 1rem 16px;
        }
    
        p{
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.5;
            color: #1d2125;
            padding: 0 16px;
        }
    
        .class-navbar{
            width: 100%;
            height: 60px;
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
    
            .navbar-container{
                width: fit-content;
                height: 100%;
                display: flex;
        
                .collapse{
                    height: 100%;
        
                    .nav{
                        height: 100%;
                        display: flex;
            
                        .nav-link{
                            height: 100%;
                            display: flex;
                            align-items: center;
                            padding: 0 16px;
                            text-decoration: none;
                            color: #0f6cbf;
                            font-size: 15px;
                            font-weight: 400;
                            letter-spacing: 0.3px;
                            margin-right: 8px;
            
                            &:hover{
                                cursor: pointer;
                                background-color: #f8f9fa;
                                color: #094478;
                            }
                        }
            
                        .active{
                            border-bottom: 3px solid #0f6cbf;
                            color: rgba(0, 0, 0, 0.9);
                        }
                    }
                }
            }
        }
    }

    .content{
        min-width: 850px;
        padding: 1.5rem .5rem;
        border-top: 1px solid #dee2e6;

        .classes{
            width: 100%;
            height: fit-content;
            padding: 0 .5rem 1.5rem .5rem;

            .list-item{
                width: 100%;
                height: fit-content;
                padding: .75rem .5rem;
                text-decoration: none;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #dfdfdf;

                &:hover{
                cursor: pointer;
                }

                &:hover .class-name{
                text-decoration: underline;
                }

                .information{
                    width: 100%;
                    margin-right: 15px;

                    .class-name{
                        font-size: 1.2rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #0f6cbf;
                        margin-bottom: 5px;
                    }

                    .subject-name{
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #1d2125;
                    }
                }
            }
        }
    }
}