.list-item{
  width: 100%;
  height: fit-content;
  padding: .75rem .5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;

  &:hover{
    cursor: pointer;
  }

  &:hover .teacher-name{
    text-decoration: underline;
  }

  .image{
    width: 5rem;

    img{
      width: 100%;
    }
  }

  .information{
    width: 100%;
    margin: 0 15px;

    .teacher-name{
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.5;
      color: #0f6cbf;
      margin-bottom: 5px;
    }

    .teacher-code{
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #1d2125;
    }
  }

  .action{
    position: relative;
    height: fit-content;

    button{
      height: 36px;
      width: 36px;
      font-size: 16px;
      line-height: 16px;
      border-radius: 50%;
      border: none;
      background-color: transparent;

      &:hover{
        cursor: pointer;
        background-color: #e9ecef;
      }
    }

    .action-dropdown{
      position: absolute;
      top: 100%;
      right: 0;
      width: 130px;
      padding: 10px 0;
      height: fit-content;
      border: 1px solid rgb(0 0 0 / .15);
      border-radius: .5rem;
      background-color: #fff;

      .dropdown-item{
        padding: .25rem 1.5rem .25rem .75rem;
        font-size: .9375rem;
        font-weight: 400;
        color: #1d2125;
        text-align: inherit;

        &:hover{
          cursor: pointer;
          outline: 0;
          background-color: #0f6cbf;
          color: #fff;
        }
      }
    }
  }
}

.add-teacher-form{
  width: 400px;
  height: fit-content;
  padding: 20px;
  background-color: #ffffff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgb(0 0 0 / .15);
  display: flex;
  flex-direction: column;

  .form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .title-add-teacher{
      font-size: 1.875rem;
      font-weight: 400;
      color: #b85b05;
    }

    i{
      font-size: 1.5rem;
      color: #b85b05;

      &:hover{
        cursor: pointer;
      }
    }
  }

  .input-teacher{
    margin-top: 16px;
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.171875rem;
    line-height: 1.5;
    border: 1px solid #8f959e;
    border-radius: .6rem;
    color: #495057;

    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #5babf2;
      outline: 0;
      box-shadow: 0 0 0 .2rem rgb(15 108 191 / .75);
    }
  }

  .action-btn{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    button{
      width: 100%;
      padding: .5rem 1rem;
      font-size: 1.171875rem;
      line-height: 1.5;
      border: none;
      border-radius: .6rem;
      color: #fff;
      background-color: #0f6cbf;

      &:hover{
        cursor: pointer;
        background-color: #0c589c;
      }
    }
  }
}