.main-page{
  width: 100%;
  height: fit-content;
  margin-top: 60px;
  display: flex;
  justify-content: center;

  .container{
    width: 850px;
    height: fit-content;
    padding: 1.5rem .5rem;
    margin-top: 1.5rem;

    .header{
      font-weight: 700;
      font-size: 1.875rem;
      line-height: 1.2;
      color: #b85b05;
      padding: 1rem 0;
      border-bottom: 1px solid #e5e5e5;
    }

    .action{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;

      .filter{
        display: flex;

        .search-box{
          height: calc(1.5em + 0.75rem + 2px);
          padding: .375rem .75rem;
          margin-right: 5px;
          font-size: .9375rem;
          line-height: 1.5;
          border: 1px solid #8f959e;
          border-radius: .6rem;
          color: #495057;

          &:focus {
            color: #495057;
            border-color: #5babf2;
            outline: 0;
            box-shadow: 0 0 0 .2rem rgb(15 108 191 / .75);
          }
        }

        .sort-box{
          min-width: 120px;
          height: calc(1.5em + 0.75rem + 2px);
          padding-left: .25rem;
          border: 1px solid #8f959e;
          border-radius: .6rem;
          color: #495057;
          font-size: .9375rem;
          line-height: 1.5;
          position: relative;

          &:hover{
            cursor: pointer;
            border-color: #5babf2;
            outline: 0;
            box-shadow: 0 0 0 .2rem rgb(15 108 191 / .75);
          }
        }
      }

      button{
        padding: .375rem .75rem;
        margin-left: 5px;
        font-size: .9375rem;
        line-height: 1.5;
        border: 1px solid #8f959e;
        border-radius: .6rem;
        color: #495057;
        background-color: transparent;

        &:hover{
          cursor: pointer;
          color: #0f6cbf;
          border-color: #5babf2;
          outline: 0;
          box-shadow: 0 0 0 .2rem rgb(15 108 191 / .75);
        }
      }

      .btn-import-file:hover{
        cursor: pointer;
        color: #15bf0f;
        border-color: #15bf0f;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(21, 191, 15, 0.75);
      }
    }

    .list{
      width: 100%;
      height: fit-content;
      margin-top: 15px;
    }
  }
}

.add-teacher-form{
  width: 400px;
  height: fit-content;
  padding: 20px;
  background-color: #ffffff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgb(0 0 0 / .15);
  display: flex;
  flex-direction: column;

  .form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .title-add-teacher{
      font-size: 1.875rem;
      font-weight: 400;
      color: #b85b05;
    }

    i{
      font-size: 1.5rem;
      color: #b85b05;

      &:hover{
        cursor: pointer;
      }
    }
  }

  .input-teacher{
    margin-top: 16px;
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.171875rem;
    line-height: 1.5;
    border: 1px solid #8f959e;
    border-radius: .6rem;
    color: #495057;

    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #5babf2;
      outline: 0;
      box-shadow: 0 0 0 .2rem rgb(15 108 191 / .75);
    }
  }

  .btn-add-teacher{
    padding: .5rem 1rem;
    margin-top: 14px;
    font-size: 1.171875rem;
    line-height: 1.5;
    border: none;
    border-radius: .6rem;
    color: #fff;
    background-color: #0f6cbf;

    &:hover{
      cursor: pointer;
      background-color: #0c589c;
    }
  }
}

